[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
music21 = "*"
keras = "*"
tensorflow-macos = "*"
uvicorn = "*"
python-dotenv = "*"
dependency-injector = "*"
midi2audio = "*"
fluidsynth = "*"

[dev-packages]

[requires]
python_version = "3.10"
